/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
docker/mysql/data/
# ↓ ここから storage 関連を src に合わせる
/src/storage/*

# allow src/storage/app
!/src/storage/app

# allow src/storage/app/public
!/src/storage/app/public

# ignore public 全体
/src/storage/app/public/*

# allow images と中身
!/src/storage/app/public/images
!/src/storage/app/public/images/*
