.checkout {
    max-width: 1512px;
    margin: 0 auto;
    padding: 93px 85px 0 80px;
}

.checkout__form {
    display: flex;
    align-items: top;
    justify-content: space-between;
}

.checkout__left {
    width: 805px;
}

.checkout__item {
    display: flex;
    padding-bottom: 43px;
    border-bottom: 1px solid #000;
}

.checkout__item-img {
    margin-right: 55px;
}

.checkout__item-image {
    width: 177px;
    height: 177px;
    background: #D9D9D9;
    object-fit: cover;
}

.checkout__item-info {
    line-height: 2;
}

.checkout__item-name {
    font-size: 30px;
    font-weight: bold;
}

.checkout__item-price {
    font-size: 32px;
}

.checkout__method,
.checkout__delivery {
    padding: 0 0 63px 35px;
    border-bottom: 1px solid #000;
}

.checkout__method-label,
.checkout__delivery-label {
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 33px 0;
}

.checkout__method-label {
    margin-bottom: 11px;
}

.checkout__method-select,
.checkout__delivery-address {
    margin-left: 96px;
}

.checkout__method-select {
    width: 265px;
    line-height: 31px;
    border: 1px solid #5f5f5f;
    border-radius: 4px;
    color: #5F5F5F;
    font-size: 16px;
    font-weight: bold;
    padding: 0 16px;
    cursor: pointer;
}

select,
::picker(select) {
    appearance: base-select;
    border-radius: 5px;
}

.checkout__method-select option {
    background-color: #636769;
    color: #fff;
    padding-left: 8px;
}

.checkout__method-select option:hover {
    background-color: #5599EB;
}

.checkout__delivery-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkout__delivery-address {
    font-size: 20px;
    font-weight: 600;
    line-height: 2;
}

.checkout__right {
    width: 440px;
    margin-left: 102px;
    text-align: center;
}

.checkout__detail {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 230px;
    border: 1px solid #000;
    margin-bottom: 66px;
}

.checkout__detail-title,
.checkout__detail-term {
    width: 50%;
    line-height: 115px;
    font-size: 20px;
}

.checkout__detail-title:last-of-type,
.checkout__detail-term:last-of-type {
    border-top: 1px solid #000;
}

.checkout__button {
    height: 70px;
    border-radius: 5px;
    font-size: 26px;
}