.checkout {
    padding: 93px 85px 0 80px;
}

.checkout__form {
    display: flex;
}

.checkout__left {
    width: 805px;
}

.checkout__item {
    display: flex;
    padding-bottom: 43px;
    border-bottom: 1px solid #000;
}

.checkout__item-img {
    margin-right: 55px;
}

.checkout__item-image {
    width: 177px;
    height: 177px;
    object-fit: cover;
    border: 1px solid #000;
}

.checkout__item-info {
    line-height: 2;
}

.checkout__item-name {
    font-size: 30px;
}

.checkout__item-symbol {
    font-size: 27px;
}

.checkout__item-value {
    font-size: 32px;
}

.checkout__method,
.checkout__delivery {
    padding: 0 0 63px 35px;
    border-bottom: 1px solid #000;
}

.checkout__method-title,
.checkout__delivery-title {
    font-size: 20px;
    font-weight: bold;
    padding: 33px 0;
    margin-bottom: 11px;
}

.checkout__method-select,
.checkout__delivery-address {
    margin-left: 96px;
}

.checkout__method-select {
    width: 265px;
    line-height: 31px;
}

.checkout__delivery-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkout__delivery-address {
    font-size: 20px;
    font-weight: 600;
    line-height: 2;
}

.checkout__post-code-wrapper {
    display: flex;
    gap: 0.5rem;
}

.checkout__right {
    width: 440px;
    margin-left: 102px;
    text-align: center;
}

.checkout__detail {
    display: flex;
    flex-wrap: wrap;
    height: 230px;
    border: 1px solid #000;
    margin-bottom: 66px;
}

.checkout__detail-title,
.checkout__detail-term {
    width: 50%;
    line-height: 115px;
    font-size: 20px;
}

.checkout__detail-title:first-of-type,
.checkout__detail-term:first-of-type {
    border-bottom: 1px solid #000;
}

.checkout__button {
    height: 70px;
    border-radius: 5px;
    font-size: 26px;
}