/* common */
body {
    font-family: "Inter";
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 24px;
}

.common-sub-title {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    width: 100%;
}

fieldset {
    border: none;
}

legend {
    width: 100%;
    display: block;
}

label {
    display: block;
    font-weight: bold;
}

textarea {
    width: 100%;
    padding: 8px 0 0 16px;
}

.input_error {
    color: #FF5555;
    font-size: 16px;
}

.common-link {
    display: block;
    font-size: 20px;
    color: #0073CC;
}

.common-btn {
    display: block;
    width: 100%;
    background: #FF5555;
    font-weight: bold;
    color: #FFF;
}

/* img button */
.common__img-input {
    display: none;
}

.common__img-button {
    display: block;
    color: #FF5555;
    border: 2px solid #FF5555;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

/* header */
.header {
    background-color: #000;
}

.header__inner {
    max-width: 1512px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    margin: 0 auto;
}

.header__logo-img {
    width: 370px;
    height: 36px;
}

.header__search-input {
    background: #fff;
    width: 500px;
    height: 50px;
    border-radius: 5px;
    padding-left: 36px;
}

.header__search-input::placeholder {
    color: #000;
}

.header-nav {
    width: 463px;
    padding: 0 26px 0 37px;
}

.header-nav__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    gap: 16px;
}

.header-nav__link,
.header-nav__form {
    color: #FFF;
    line-height: 47px;
}

.header-nav__link--sell {
    background: #FFF;
    display: block;
    width: 100px;
    color: #000;
    border-radius: 4px;
    line-height: 50px;
}