/* common */
body {
    font-family: "Inter";
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 24px;
}

.content {
    max-width: 1512px;
    margin: 0 auto;
}

.common-sub-title {
    text-align: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    width: 100%;
}

button {
    width: 100%;
}

label {
    display: block;
    font-weight: bold;
}

textarea {
    width: 100%;
    padding: 8px 0 0 16px;
    display: block;
}

.input-error {
    color: #FF5555;
    font-size: 20px;
}

.common-link {
    font-size: 20px;
    color: #0073CC;
}

.common-btn {
    background: #FF5555;
    font-weight: bold;
    color: #FFF;
}

.btn--disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #5F5F5F;
    font-weight: bold;
    color: #FFF;
}

.common-img-input {
    display: none;
}

.common-img-button {
    color: #FF5555;
    border: 2px solid #FF5555;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.sold-badge {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 0, 0, 0.85);
    font-weight: bold;
    border-radius: 4px;
    color: #fff;
    letter-spacing: 0.2rem;
}

select {
    border: 1px solid #5F5F5F;
    width: 100%;
    font-size: 16px;
    padding: 0 16px;
    color: #5F5F5F;
    cursor: pointer;
    font-weight: bold;
}

/* select については chrome で適用を確認済み */
select,
::picker(select) {
    appearance: base-select;
    border-radius: 5px;
}

select option {
    background-color: #636769;
    color: #fff;
    padding-left: 8px;
}

select option:hover {
    background-color: #5599EB;
}

/* header */
.header {
    background-color: #000;
}

.header__inner {
    max-width: 1512px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    margin: 0 auto;
}

.header__logo-img {
    width: 370px;
    height: 36px;
}

.header__search-input {
    background: #fff;
    width: 500px;
    height: 50px;
    border-radius: 5px;
    padding-left: 36px;
}

.header__search-input::placeholder {
    color: #000;
}

.header__nav {
    width: 463px;
    padding: 0 26px 0 37px;
}

.header__nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    gap: 16px;
}

.header__nav-link,
.header__nav-button {
    color: #FFF;
    line-height: 47px;
}

.header__sell-link {
    background: #FFF;
    display: block;
    width: 100px;
    color: #000;
    border-radius: 4px;
    line-height: 50px;
}