.delivery {
    width: 680px;
    margin: 48px auto 0 auto;
}

.delivery__title {
    margin-bottom: 103px;
}

.delivery__label {
    line-height: 36px;
}

.delivery__input {
    border: 1px solid #5F5F5F;
    height: 45px;
    border-radius: 4px;
    padding-left: 12px;
}

.delivery__group:first-of-type {
    margin-bottom: 68px;
}

.delivery__group:nth-of-type(2) {
    margin-bottom: 90px;
}

.delivery__group:last-of-type {
    margin-bottom: 111px;
}

.delivery__button {
    height: 60px;
    border-radius: 5px;
    margin-bottom: 135px;
}