.item-detail {
    width: 1380px;
    display: flex;
    margin: 95px auto 100px auto;
}

.item-detail__left {
    width: 690px;
    text-align: center;
}

.item-detail__image {
    position: relative;
}

.sold-badge--detail {
    width: 300px;
    line-height: 100px;
    font-size: 26px;
}

.item-detail__img {
    margin-top: 36px;
    width: 600px;
    height: 600px;
    object-fit: cover;
    border-radius: 4px;
}

.item-detail__right {
    padding: 0 55px 0 65px;
    width: 690px;
}

.item-detail__title {
    font-size: 45px;
    line-height: 77px;
}

.item-detail__brand {
    display: block;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 28px;
}

.item-detail__price {
    margin-bottom: 28px;
}

.item-detail__value {
    font-size: 45px;
}

.item-detail__symbol,
.item-detail__tax {
    font-size: 30px;
}

.item-detail__function {
    display: flex;
    margin-left: 45px;
    gap: 64px;
    text-align: center;
}

.like__icon {
    width: 40px;
    height: 40px;
}

.comment__count,
.like__count {
    display: block;
    font-size: 18px;
    font-weight: bold;
}

.purchase {
    padding: 22px 0;
    text-align: center;
}

.purchase__button {
    display: block;
    line-height: 56px;
    border-radius: 4px;
}

.item-detail__description .item-detail__section-title {
    line-height: 74px;
}

.item-detail__info .item-detail__section-title {
    line-height: 100px;
}

.item-comment__title,
.item-comment__count {
    color: #5F5F5F;
    line-height: 100px;
}

.item-detail__description-text {
    height: 247px;
    padding: 16px 0;
    white-space: pre-line;
}

.product-info__list {
    display: flex;
    align-items: center;
}

.product-info__list:first-of-type .product-info__term {
    margin-right: 60px;
}

.product-info__term {
    font-weight: bold;
}

.product-info__desc {
    font-size: 20px;
}

.product-info__list:first-of-type .product-info__desc {
    background: #D9D9D9;
    border-radius: 15px;
    line-height: 30px;
    padding: 0 24px;
    margin-right: 22px;
}

.product-info__list:nth-of-type(2) {
    line-height: 100px;
}

.product-info__list:nth-of-type(2) .product-info__term {
    margin-right: 84px;
}

.item-comment__user {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-bottom: 19px;
}

.comment-user__name {
    font-size: 30px;
    font-weight: bold;
}

.comment-user__image {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    object-fit: cover;
}

/* 画像無しユーザー */
.comment__no-img-bg {
    background: #D9D9D9;
}

.comment__content {
    margin-bottom: 41px;
    font-size: 20px;
    background: #E5E5E5;
    padding: 0 15px;
    line-height: 70px;
    border-radius: 5px;
    white-space: pre-line;
    font-weight: 300;
}

.item-comment__sub-title {
    font-size: 28px;
    line-height: 50px;
}

.comment__description {
    height: 246px;
    border: 2px solid #5F5F5F;
    border-radius: 5px;
}

.comment__error {
    margin-bottom: 48px;
}

.comment-button__submit {
    height: 56px;
    font-size: 25px;
    border-radius: 4px;
}