.products {
    max-width: 1512px;
    margin: 48px auto 0 auto;
}

.product-tabs__list {
    display: flex;
    gap: 64px;
    padding: 0 0 8px 128px;
    border-bottom: 2px solid #5F5F5F;
}

.product-tabs__link {
    font-weight: bold;
    color: #5F5F5F;
}

.index__link--active {
    color: #FF0000;
}

.product-card {
    margin: 0 0 24px 24px;
}

.product-list {
    margin: 72px 72px 0;
    display: flex;
    flex-wrap: wrap;
}

.product-card__img {
    width: 290px;
    height: 280px;
    object-fit: cover;
    border-radius: 4px;
}

.product-card__link {
    color: #000;
}

.product-card__name {
    font-size: 25px;
}