.products {
    margin-top: 48px;
}

.product-tabs__list {
    display: flex;
    gap: 64px;
    padding: 0 0 5px 129px;
    border-bottom: 2px solid #5F5F5F;
}

.product-tabs__link {
    font-weight: bold;
    color: #5F5F5F;
}

.product-tabs__link--active {
    color: #FF0000;
}

.product-card {
    margin-bottom: 77px;
}

.product-list {
    margin: 69px 77px;
    display: grid;
    grid-template-columns: repeat(4, 290px);
    justify-content: space-between;
}

.product-card__img {
    width: 290px;
    height: 280px;
    object-fit: cover;
    border-radius: 4px;
}

.product-card__link {
    color: #000;
    font-size: 25px;
}

.product-card__image {
    position: relative;
}

.sold-badge--list {
    width: 150px;
    line-height: 50px;
    font-size: 20px;
}