.login {
    width: 680px;
    margin: 0 auto;
}

.login__inner {
    height: 656px;
    margin-top: 120px;
}

.login__title {
    margin-bottom: 48px;
}

.login__group {
    margin-bottom: 32px;
}

.login__label {
    display: block;
    line-height: 1;
    height: 34px;
    font-weight: bold;
}

.login__input {
    height: 57px;
    border-radius: 4px;
    border: 1px solid #5F5F5F;
}

.login__buttons {
    text-align: center;
    margin-top: 72px;
}

.login__button {
    height: 65px;
    border-radius: 5px;
    font-size: 26px;
    margin-bottom: 8px;
}

.login__link {
    width: 257px;
    margin: 0 auto 8px auto;
    line-height: 53px;
}