.login {
    width: 680px;
    margin: 120px auto 0 auto;
}

.login__title {
    margin-bottom: 53px;
}

.login__group:first-of-type {
    margin-bottom: 36px;
}

.login__group:nth-of-type(2) {
    margin-bottom: 80px;
}

.login__label {
    line-height: 34px;
}

.login__input {
    height: 57px;
    border-radius: 4px;
    border: 1px solid #5F5F5F;
    padding-left: 16px;
}

.login__buttons {
    margin-top: 8px;
    text-align: center;
}

.login__button {
    height: 65px;
    border-radius: 5px;
    font-size: 26px;
    margin-bottom: 18px;
}

.login__link {
    line-height: 53px;
}

.register__link {
    display: block;
}