.mypage {
    padding-top: 78px;
}

.mypage__profile-info {
    display: flex;
    align-items: center;
    width: 1017px;
    margin: 0 auto 77px auto;
    text-align: center;
    justify-content: space-between;
}

.mypage__profile-img,
.mypage__profile-no-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 57px;
}

.mypage__profile-img {
    object-fit: cover;
    border: 1px solid #ddd;
}

.mypage__profile-no-img {
    background: #D9D9D9;
}

.mypage__profile-user {
    font-size: 36px;
    font-weight: bold;
}

.mypage__profile-edit {
    font-size: 26px;
    width: 310px;
    line-height: 47px;
}

.mypage__profile-list {
    display: flex;
    gap: 52px;
    border-bottom: 2px solid #5F5F5F;
    padding: 0 0 5px 129px;
}

.mypage__profile-link {
    display: block;
    text-align: center;
    color: #5F5F5F;
    width: 155px;
    font-weight: bold;
    padding: 8px 0;
}

.mypage__items {
    margin: 60px 70px;
    display: grid;
    grid-template-columns: repeat(4, 290px);
    justify-content: space-between;
    row-gap: 77px;
}

.mypage__item-image-wrapper {
    position: relative;
    height: 280px;
    margin-bottom: 8px;
}

.mypage__item-img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
}

.mypage__item-name {
    font-size: 25px;
}

.mypage__profile-link--active {
    color: #FF0000;
}

.sold-badge--mypage {
    width: 150px;
    line-height: 70px;
    font-size: 20px;
    text-align: center;
}