.profile {
    width: 680px;
    margin: 59px auto 127px auto;
}

.profile__title {
    margin-bottom: 47px;
}

.profile__img {
    margin-bottom: 76px;
}

.profile__img-wrapper {
    display: flex;
    align-items: center;
    gap: 40px;
}

.profile__img-image {
    width: 150px;
    height: 150px;
    background: #D9D9D9;
    border-radius: 50%;
    border: 1px solid #ddd;
}

/* 画像が選択されたとき */
.profile__img-image.has-image {
    background: none;
    border: 1px solid #ddd;
}

.profile__img-button {
    width: 179px;
    height: 49px;
    font-size: 20px;
}

.profile__group:nth-of-type(2),
.profile__group:last-of-type {
    margin-bottom: 62px;
}

.profile__group:nth-of-type(3),
.profile__group:nth-of-type(4) {
    margin-bottom: 43px;
}

.profile__label {
    line-height: 36px;
}

.profile__input {
    border-radius: 4px;
    border: 1px solid #5F5F5F;
    height: 55px;
    padding-left: 16px;
}

.profile__button {
    height: 60px;
    border-radius: 5px;
}