.register {
    width: 680px;
    margin: 96px auto 0 auto;
}

.register__title {
    margin-bottom: 55px;
}

.register__group {
    margin-bottom: 38px;
}

.register__group:nth-of-type(4) {
    margin-bottom: 116px;
}

.register__label {
    line-height: 35px;
}

.register__input {
    height: 58px;
    border-radius: 4px;
    border: 1px solid #5F5F5F;
    padding-left: 16px;
}

.register__button {
    height: 65px;
    border-radius: 5px;
    font-size: 26px;
    margin-bottom: 19px;
}

.register__link {
    line-height: 53px;
    text-align: center;
    margin-bottom: 43px;
}