.register {
    width: 680px;
    margin: 0 auto;
}

.register__inner {
    height: 678px;
    margin-top: 96px;
}

.register__title {
    margin-bottom: 55px;
}

.register__group {
    margin-bottom: 38px;
}

.register__label {
    line-height: 35px;
}

.register__input {
    height: 59px;
    border-radius: 4px;
    border: 1px solid #5F5F5F;
    padding-left: 16px;
}

.register__button {
    height: 65px;
    border-radius: 5px;
    font-size: 26px;
    margin: 32px 0 19px 0;
}

.register__link {
    width: 257px;
    line-height: 53px;
    text-align: center;
    margin: 0 auto;
}