.register {
    width: 680px;
    margin: 0 auto;
}

.register__inner {
    height: 678px;
    margin-top: 96px;
}

.register__title {
    margin-bottom: 48px;
}

.register__label {
    display: block;
    line-height: 1;
    height: 35px;
    font-weight: bold;
}

.register__input {
    height: 58px;
    border-radius: 4px;
    border: 1px solid #5F5F5F;
    margin-bottom: 32px;
}

.register__buttons {
    text-align: center;
}

.register__button {
    height: 65px;
    border-radius: 5px;
    font-size: 26px;
    margin: 8px 0;
}

.register__link {
    width: 257px;
    margin: 0 auto 10px auto;
    line-height: 53px;
}