.sell {
    width: 680px;
    margin: 51px auto 0 auto;
}

.sell__title {
    margin-bottom: 43px;
}

.sell__images {
    margin-bottom: 70px;
}

.sell__image-group {
    height: 160px;
    border: 1px dotted #5f5f5f;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sell__img-button {
    width: 165px;
    line-height: 43px;
    font-size: 16px;
}

/* 画像が表示されたときに適用 */
.sell__image {
    height: 150px;
    width: 150px;
    margin-right: 32px;
    border-radius: 5px;
    display: none;
    border: 1px solid #000;
}

/* 画像が選択されたときに適用*/
.sell__image.has-image {
    display: block;
}

.sell__images-legend {
    font-weight: bold;
    line-height: 36px;
}

.sell__label--category {
    font-weight: bold;
    display: block;
    margin-bottom: 31px
}

.sell__sub-title {
    line-height: 48px;
    margin-bottom: 36px;
    border-bottom: 1px solid #5f5f5f;
    font-size: 30px;
    font-weight: bold;
    color: #5F5F5F;
}

.sell__group-category {
    margin-bottom: 65px;
}

.sell__detail {
    margin-bottom: 69px;
}

.sell__group .sell__label {
    line-height: 29px;
    margin-bottom: 19px;
}

.sell__form>fieldset.sell__section .sell__label {
    line-height: 29px;
    margin-bottom: 7px;
}

.sell__select {
    line-height: 45px;
}

.sell__chips {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 24px;
    padding-left: 8px;
}

.sell__chip-label {
    display: block;
    cursor: pointer;
    line-height: 32px;
    border: 2px solid #FF5655;
    border-radius: 200px;
    color: #FF5655;
    font-size: 15px;
    padding: 0 14px;
    user-select: none;
}

.sell__chip-input:checked+.sell__chip-label {
    background: #FF5655;
    color: #fff;
}

.sell__chip-input {
    display: none;
}

.sell__group-input {
    margin-bottom: 36px;
}

.sell__input {
    border: 1px solid #5F5F5F;
    height: 45px;
    border-radius: 4px;
    padding-left: 12px;
}

.price-wrapper {
    position: relative;
}

.price-wrapper::before {
    content: "¥";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    padding-left: 12px;
}

.sell__input--price {
    padding-left: 32px;
}

.sell__group-input:last-of-type {
    margin-bottom: 118px;
}

.sell__textarea {
    height: 125px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
}

.sell__button {
    margin-bottom: 152px;
    height: 60px;
    font-size: 26px;
    border-radius: 5px;
}